# compiled binaries
bin

# direnv
.envrc.local
env.local.bat
env.local.ps1

# terraform
.terraform
.terraform-version
*.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.*.backup
terraform.tfstate.lock.info

# miscellaneous
.DS_Store
temp